name: CI/CD to Render

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build JAR
        run: mvn clean package -DskipTests

      - name: Deploy to Render
        uses: johnbeynon/render-deploy-action@v1.6.0
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
